In [1]:
import pandas as pd
import finn
df = import_all_stations()
df.info()
df.describe()

NameError: name 'DataFrame' is not defined

In [18]:
finn.to_pivot(df)

city                Aschaffenburg Berlin                                    \
station_code                   1      1     2     3     4     5    6    7
date
2016-01-01 00:00:00           NaN    0.0   1.0   NaN   NaN   0.0  NaN  NaN
2016-01-01 00:15:00           NaN    3.0   1.0   NaN   NaN   2.0  NaN  NaN
2016-01-01 00:30:00           NaN    1.0   5.0   NaN   NaN   1.0  NaN  NaN
2016-01-01 00:45:00           NaN    3.0   0.0   NaN   NaN   1.0  NaN  NaN
2016-01-01 01:00:00           NaN    1.0   6.0   NaN   NaN   0.0  NaN  NaN
...                           ...    ...   ...   ...   ...   ...  ...  ...
2021-09-29 22:45:00           3.0   32.0  32.0  12.0  11.0   6.0  5.0  8.0
2021-09-29 23:00:00           4.0   32.0  34.0  17.0  55.0  13.0  8.0  5.0
2021-09-29 23:15:00           2.0   32.0  17.0   7.0   9.0  11.0  5.0  4.0
2021-09-29 23:30:00           1.0   28.0  36.0   8.0  10.0   5.0  2.0  2.0
2021-09-29 23:45:00           1.0   13.0  21.0   7.0  10.0   0.0  8.0  5.0

city                            ... Stuttgart                                \
station_code           8    9   ...        6    7    8    9    10   11   12
date                            ...
2016-01-01 00:00:00   0.0  1.0  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2016-01-01 00:15:00   0.0  2.0  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2016-01-01 00:30:00   0.0  1.0  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2016-01-01 00:45:00   3.0  0.0  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2016-01-01 01:00:00   2.0  1.0  ...       NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                   ...  ...  ...       ...  ...  ...  ...  ...  ...  ...
2021-09-29 22:45:00  11.0  5.0  ...       1.0  1.0  3.0  0.0  0.0  0.0  0.0
2021-09-29 23:00:00  13.0  5.0  ...       0.0  1.0  1.0  1.0  0.0  1.0  0.0
2021-09-29 23:15:00   9.0  3.0  ...       0.0  0.0  0.0  1.0  0.0  0.0  0.0
2021-09-29 23:30:00   6.0  4.0  ...       0.0  1.0  0.0  2.0  0.0  0.0  0.0
2021-09-29 23:45:00   3.0  1.0  ...       0.0  1.0  2.0  2.0  1.0  0.0  0.0

city
station_code          13    14   15
date
2016-01-01 00:00:00  NaN   NaN  NaN
2016-01-01 00:15:00  NaN   NaN  NaN
2016-01-01 00:30:00  NaN   NaN  NaN
2016-01-01 00:45:00  NaN   NaN  NaN
2016-01-01 01:00:00  NaN   NaN  NaN
...                  ...   ...  ...
2021-09-29 22:45:00  0.0   9.0  7.0
2021-09-29 23:00:00  0.0   2.0  6.0
2021-09-29 23:15:00  1.0  15.0  6.0
2021-09-29 23:30:00  0.0  11.0  1.0
2021-09-29 23:45:00  0.0   3.0  4.0

[201480 rows x 74 columns]

In [19]:
finn.plot_city_time('Rostock')

NameError: name 'pivot' is not defined